body{
    background-color: whitesmoke;
    h1{
        font-size: 1.2rem;
        font-family: 'Montserrat', sans-serif;
    }
    .home-text{
        font-size: 0.875rem;
        font-family: 'Raleway', sans-serif;
    }
    .navbar-dark .navbar-nav .nav-link {
        color: rgba(255,255,255,1);
    }
    .navbar-dark .navbar-nav .nav-link:hover{
        color: rgba(30,144,255,1);
    }
    footer {
        background-color: #0E0E10;
        
    }
    footer .middle{ 
        text-align: center;
    }
    footer .mentions{
        display: flex;
        text-decoration: none;
        list-style-type: none;
        justify-content: space-between;
        margin-right: 15%;
        margin-left: 15%;
        padding: 0;
    }
    footer .medias{
        display: flex;
        text-decoration: none;
        list-style-type: none;
        justify-content: space-between;
        margin-right: 40%;
        margin-left: 40%;
        padding: 0;
    }
    footer .mentions:hover{
        color: rgba(30,144,255,1);
    }
    a {
        color: rgb(30,144,255);
        text-decoration: none;
        background-color: transparent;
    }
    a:hover{
        color: rgb(30,144,255);
    }
}