<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <!-- LIEN DE GESTION DE TYPOS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- LIEN D'IMPORT DE TYPOS GOOGLE FONTS -->
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <!-- On lie les CDN de bootstrap en dehors du block stylesheets. Pour rappel, le contenu du block peut être "overridé" par d'autres templates donc on ne met pas les éléments communs à toutes les pages dedans -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css">
    <!-- LIEN DE GESTION DES STYLES CSS -->
    <link rel="stylesheet" href="{{ asset('css/styles.min.css') }}">
    {# Run `composer require symfony/webpack-encore-bundle` and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
    {#{{ encore_entry_link_tags('app') }}#}
    {% endblock %}
</head>

<body>
    <!-- HEADER + NAV -->
    <header class="container-fluid px-0">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#"><img src="/public/images/logo-dayandnight.png" alt="Logo Day And Night" class="img-fluid"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('index') }}">Accueil <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Activités</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Concept</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Formules</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Usopp</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Sanji</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Zoro</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Luffy</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Clubs</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto mb-0">
                    <li>
                        <a class="nav-link" href="#">S'inscrire</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">Se Connecter</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- FIN DE HEADER + NAV -->
    {% block body %}{% endblock %}
    <!-- FOOTER -->
    <footer class="container-fluid bg-jetblack">
        <div>
            <ul>
                <li>
                    <img src="/public/images/logo-dayandnight.png" alt="logo day and night" class="img-fluid">
                </li>
                <li>
                    <ul>
                        <li>Groupe Day&Night</li>
                        <li>25ter rue du Maréchal Juin</li>
                        <li>78200 Mantes-la-Jolie</li>
                        <li>01 58 96 35 48</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div>
            <ul class="medias">
                <li>
                    <a href="www.facebook.com"><i class="fa fa-facebook-square fa-4x" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="www.twitter.com"><i class="fa fa-twitter-square fa-4x" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="www.instagram.com"><i class="fa fa-instagram fa-4x" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
        <div>
            <ul class="mentions">
                <li><a href="#">CGU</a></li>
                <li><a href="#">CGV</a></li>
                <li><a href="#">Mention Légale</a></li>
                <li><a href="#">Déclaration sur les Cookies</a></li>
                <li><a href="#">Politique de Confidentialité</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="middle">
            &copy; 2021 - Day & Night 
        </div>
    </footer>
    <!-- FIN DE FOOTER -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
    </script>
    <!-- Lien de prise en charge des icônes fontawesome (js) -->
    <script src="https://use.fontawesome.com/4d52a34aef.js"></script>
    {% block javascripts %}
    {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</body>

</html>